<% content_for :page_title do %>
  <title>ArtistNXT | New Content</title>
<% end %>

<div class="profiletitle">New Content</div>
<div class="clr">&nbsp;</div>

<div id="ddtags" class="ddtags-full-width">
  
  <%= render 'form' %>
  
  <dl>
  <dt>&nbsp;</dt>
  <dd><%= link_to 'Back', contents_path %></dd>
  </dl>
</div>