<% content_for :page_title do %>
  <title>ArtistNXT | New Music Category</title>
<% end %>

<div class="profiletitle">New Music Category</div>
<div class="clr">&nbsp;</div>

<div id="ddtags">
  
  <%= render 'form' %>
  
  <dl>
  <dt>&nbsp;</dt>
  <dd><%= link_to 'Back', music_categories_path %></dd>
  </dl>
</div>



