<% content_for :page_title do %>
  <title>ArtistNXT | Upload Music</title>
<% end %>
<div class="contenttitle_area">
        <h2 class="logintitle2">Upload Music</h2>
</div>

<%@mobile_device_class=""%>
<%= render :partial => 'profile/index_left' %>
<div class="rightpartWrap col-md-10"> <!-- rightpartWrap start -->
    <div class="rightPart clearfix"> <!-- rightPart start -->
        <div class="contentCol col-md-9"> <!-- contentCol start -->
            <div class="content">
                <%= render 'form' %>
            </div>
        </div> <!-- contentCol end -->
        <%= render :partial => 'profile/index_right' %>
    </div> <!-- rightPart end -->
</div> <!-- rightpartWrap end -->
<%@mobile_device_class=" mobile_device"%>
<%= render :partial => 'profile/index_left' %>